[submodule "AntlrGrammarEditor/AntlrRuntimes/Php/vendor/antlr/antlr4-php-runtime"]
	path = AntlrGrammarEditor/AntlrRuntimes/Php/vendor/antlr/antlr4-php-runtime
	url = https://github.com/antlr/antlr-php-runtime.git
	branch = master
